In [2]:
#Importing the Pyspark
import findspark
findspark.init('/usr/local/spark')
import pyspark

In [3]:
#Launching the SparkSession and SQL-Context
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
#Creating the Pyspark Application(AppName-'Car_sales')
spark1= SparkSession.builder.appName("Car_sales").enableHiveSupport().getOrCreate()

In [4]:
#Reading the Final Dataset 
df=spark1.read.csv("Final2.csv",inferSchema=True,header=True)
df.head(1)

[Row(Sales_ID=1, Name='Maruti Swift Dzire VDI', Year=2014, Selling_Price=450000, km_Driven=145500, City_Code='CT01', State_Code='ST15', Postal_Code=400001, Fuel='Diesel', Seller_Type='Individual', Transmission='Manual', Owner='First Owner', Mileage=23.0, Engine=1248, Max_Power=74.0, Seats=5, Region_Code='R3', State_Name='Maharashtra', Sold='Y', Region='West', City_Name='Mumbai')]

In [5]:
#printing the data schema
df.printSchema()

root
 |-- Sales_ID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Selling_Price: integer (nullable = true)
 |-- km_Driven: integer (nullable = true)
 |-- City_Code: string (nullable = true)
 |-- State_Code: string (nullable = true)
 |-- Postal_Code: integer (nullable = true)
 |-- Fuel: string (nullable = true)
 |-- Seller_Type: string (nullable = true)
 |-- Transmission: string (nullable = true)
 |-- Owner: string (nullable = true)
 |-- Mileage: double (nullable = true)
 |-- Engine: integer (nullable = true)
 |-- Max_Power: double (nullable = true)
 |-- Seats: integer (nullable = true)
 |-- Region_Code: string (nullable = true)
 |-- State_Name: string (nullable = true)
 |-- Sold: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- City_Name: string (nullable = true)

In [6]:
#printed the Name Column
df.select("Name").show()

+--------------------+
|                Name|
+--------------------+
|Maruti Swift Dzir...|
|Skoda Rapid 1.5 T...|
|Honda City 2017-2...|
|Hyundai i20 Sport...|
|Maruti Swift VXI ...|
|Hyundai Xcent 1.2...|
|Maruti Wagon R LX...|
|  Maruti 800 DX BSII|
|    Toyota Etios VXD|
|Ford Figo Diesel ...|
|Renault Duster 11...|
|       Maruti Zen LX|
|Maruti Swift Dzir...|
|Maruti Wagon R LX...|
|Mahindra KUV 100 ...|
|Maruti Ertiga SHV...|
|Hyundai i20 1.4 C...|
|      Maruti Alto LX|
|Hyundai i20 2015-...|
|Mahindra Verito 1...|
+--------------------+
only showing top 20 rows

In [7]:
#Checking the Databases in HIVE
spark1.sql("show databases").show()
#Creating the HIVE Database (Database Name - used_cars_data)
spark.sql("create database used_cars_data")

+--------------+
|  databaseName|
+--------------+
|       default|
|used_cars_data|
|  usedcarsdata|
+--------------+

In [32]:
#There are multiple databases
#using the datbase that is created
spark1.sql('use used_cars_data')

DataFrame[]

In [33]:
#Creating the Hive Table(Table Name-'cars_data2') in Hive Database (Database Name - used_cars_data) as Textfile Format
df1=spark1.sql('create table cars_data2 \
         (Sales_ID int,Name string,Year int,Selling_Price int,km_Driven int,City_Code string,State_Code string,Postal_Code int,Fuel string,Seller_Type string,Transmission string,Owner string,Mileage double,Engine int,Max_Power double,Seats int,Region_Code string,State_Name string,Sold string,Region string,City_Name string) \
        row format delimited fields terminated by ","\
         stored as textfile')

In [34]:
# Creating a Table in ORC Format
df1=spark1.sql('create table cars_data3 \
         (Sales_ID int,Name string,Year int,Selling_Price int,km_Driven int,City_Code string,State_Code string,Postal_Code int,Fuel string,Seller_Type string,Transmission string,Owner string,Mileage double,Engine int,Max_Power double,Seats int,Region_Code string,State_Name string,Sold string,Region string,City_Name string) \
         stored as ORC')

In [37]:
#Loading the data(Final2.csv) into HiveTable (cars_data2)
spark1.sql("load data local inpath '/home/hduser/Final2.csv'\
                 overwrite into table cars_data2")

DataFrame[]