In [1]:
import findspark
findspark.init("/usr/local/spark")

In [2]:
import pyspark
sc = pyspark.SparkContext(appName='accumulatorExample')

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Python Spark SQL example") \
        .config("spark.sql.warehouse.dir", "hdfs://localhost:54310/user/hive/warehouse") \
        .enableHiveSupport() \
        .getOrCreate()

In [10]:
df_NYSE_daily = spark.read.csv('NYSE_daily.tsv', sep=r'\t', header=False)

In [15]:
df_NYSE_daily=df_NYSE_daily.withColumnRenamed("_c0","exchange")

In [16]:
df_NYSE_daily=df_NYSE_daily.withColumnRenamed("_c1","stock_symbol")
df_NYSE_daily=df_NYSE_daily.withColumnRenamed("_c2","date")
df_NYSE_daily=df_NYSE_daily.withColumnRenamed("_c3","open_price")
df_NYSE_daily=df_NYSE_daily.withColumnRenamed("_c4","high_price")
df_NYSE_daily=df_NYSE_daily.withColumnRenamed("_c5","low_price")
df_NYSE_daily=df_NYSE_daily.withColumnRenamed("_c6","close_price")
df_NYSE_daily=df_NYSE_daily.withColumnRenamed("_c7","volume")
df_NYSE_daily=df_NYSE_daily.withColumnRenamed("_c8","adjusted_close_price")

In [17]:
df_NYSE_daily.show(10)

+--------+------------+---------+----------+----------+---------+-----------+-------+--------------------+
|exchange|stock_symbol|     date|open_price|high_price|low_price|close_price| volume|adjusted_close_price|
+--------+------------+---------+----------+----------+---------+-----------+-------+--------------------+
|    NYSE|         JEF| 2/8/2010|      25.4|     25.49|    24.78|      24.82|1134300|               24.82|
|    NYSE|         JEF| 2/5/2010|     24.91|     25.19|    24.08|      25.01|1765200|               25.01|
|    NYSE|         JEF| 2/4/2010|     26.01|      26.2|    24.85|      24.85|1414400|               24.85|
|    NYSE|         JEF| 2/3/2010|     26.23|     26.76|    26.22|      26.29|1066000|               26.29|
|    NYSE|         JEF| 2/2/2010|     26.08|     26.86|    25.78|      26.46|1496400|               26.46|
|    NYSE|         JEF| 2/1/2010|     25.61|     26.11|    25.36|      26.11|2381800|               26.11|
|    NYSE|         JEF|1/29/2010|     26.57|      26.8|    25.41|      25.54|2010000|               25.54|
|    NYSE|         JEF|1/28/2010|      27.4|      27.4|    26.35|      26.36|1708100|               26.36|
|    NYSE|         JEF|1/27/2010|     26.44|     27.15|    26.42|      27.14|1929700|               27.14|
|    NYSE|         JEF|1/26/2010|     26.68|     26.99|    26.46|       26.5|1422100|                26.5|
+--------+------------+---------+----------+----------+---------+-----------+-------+--------------------+
only showing top 10 rows

In [18]:
df_NYSE_dividends = spark.read.csv('NYSE_dividends.tsv', sep=r'\t', header=False)

In [19]:
df_NYSE_dividends.show(10)

+----+---+----------+-----+
| _c0|_c1|       _c2|  _c3|
+----+---+----------+-----+
|NYSE|JAH|12/30/2009|0.075|
|NYSE|JAH| 9/29/2009|0.075|
|NYSE|JGT|12/11/2009|0.377|
|NYSE|JGT| 9/11/2009|0.377|
|NYSE|JGT| 6/11/2009|0.377|
|NYSE|JGT| 3/11/2009|0.377|
|NYSE|JGT|12/11/2008|0.377|
|NYSE|JGT| 9/11/2008|0.451|
|NYSE|JGT| 6/11/2008|0.451|
|NYSE|JGT| 3/12/2008|0.451|
+----+---+----------+-----+
only showing top 10 rows

In [20]:
df_NYSE_dividends=df_NYSE_dividends.withColumnRenamed("_c0","exchange")
df_NYSE_dividends=df_NYSE_dividends.withColumnRenamed("_c1","stock_symbol")
df_NYSE_dividends=df_NYSE_dividends.withColumnRenamed("_c2","date")
df_NYSE_dividends=df_NYSE_dividends.withColumnRenamed("_c3","dividends")

In [21]:
df_NYSE_dividends.show(10)

+--------+------------+----------+---------+
|exchange|stock_symbol|      date|dividends|
+--------+------------+----------+---------+
|    NYSE|         JAH|12/30/2009|    0.075|
|    NYSE|         JAH| 9/29/2009|    0.075|
|    NYSE|         JGT|12/11/2009|    0.377|
|    NYSE|         JGT| 9/11/2009|    0.377|
|    NYSE|         JGT| 6/11/2009|    0.377|
|    NYSE|         JGT| 3/11/2009|    0.377|
|    NYSE|         JGT|12/11/2008|    0.377|
|    NYSE|         JGT| 9/11/2008|    0.451|
|    NYSE|         JGT| 6/11/2008|    0.451|
|    NYSE|         JGT| 3/12/2008|    0.451|
+--------+------------+----------+---------+
only showing top 10 rows

In [22]:
df_NYSE_dividends.write.saveAsTable('df_NYSE_dividends')

In [23]:
df_NYSE_daily.write.saveAsTable('df_NYSE_daily')

In [24]:
spark.sql("show tables").show()

+--------+-----------------+-----------+
|database|        tableName|isTemporary|
+--------+-----------------+-----------+
| default|      city_master|      false|
| default|  customer_master|      false|
| default|    df_nyse_daily|      false|
| default|df_nyse_dividends|      false|
| default|       joinednyse|      false|
| default|        nysedaily|      false|
| default|    nysedividends|      false|
| default|    region_master|      false|
| default|     state_master|      false|
+--------+-----------------+-----------+

In [26]:
dataframe_nyseDaily=spark.sql("Select * from df_nyse_daily")
dataframe_nyseDaily.printSchema()

root
 |-- exchange: string (nullable = true)
 |-- stock_symbol: string (nullable = true)
 |-- date: string (nullable = true)
 |-- open_price: string (nullable = true)
 |-- high_price: string (nullable = true)
 |-- low_price: string (nullable = true)
 |-- close_price: string (nullable = true)
 |-- volume: string (nullable = true)
 |-- adjusted_close_price: string (nullable = true)

In [27]:
dataframe_nyseDividends=spark.sql("Select * from df_nyse_dividends")
dataframe_nyseDividends.printSchema()

root
 |-- exchange: string (nullable = true)
 |-- stock_symbol: string (nullable = true)
 |-- date: string (nullable = true)
 |-- dividends: string (nullable = true)

In [28]:
dataframe_nyseDaily.show(10)

+--------+------------+---------+----------+----------+---------+-----------+-------+--------------------+
|exchange|stock_symbol|     date|open_price|high_price|low_price|close_price| volume|adjusted_close_price|
+--------+------------+---------+----------+----------+---------+-----------+-------+--------------------+
|    NYSE|         JEF| 2/8/2010|      25.4|     25.49|    24.78|      24.82|1134300|               24.82|
|    NYSE|         JEF| 2/5/2010|     24.91|     25.19|    24.08|      25.01|1765200|               25.01|
|    NYSE|         JEF| 2/4/2010|     26.01|      26.2|    24.85|      24.85|1414400|               24.85|
|    NYSE|         JEF| 2/3/2010|     26.23|     26.76|    26.22|      26.29|1066000|               26.29|
|    NYSE|         JEF| 2/2/2010|     26.08|     26.86|    25.78|      26.46|1496400|               26.46|
|    NYSE|         JEF| 2/1/2010|     25.61|     26.11|    25.36|      26.11|2381800|               26.11|
|    NYSE|         JEF|1/29/2010|     26.57|      26.8|    25.41|      25.54|2010000|               25.54|
|    NYSE|         JEF|1/28/2010|      27.4|      27.4|    26.35|      26.36|1708100|               26.36|
|    NYSE|         JEF|1/27/2010|     26.44|     27.15|    26.42|      27.14|1929700|               27.14|
|    NYSE|         JEF|1/26/2010|     26.68|     26.99|    26.46|       26.5|1422100|                26.5|
+--------+------------+---------+----------+----------+---------+-----------+-------+--------------------+
only showing top 10 rows

In [29]:
dataframe_nyseDividends.show(10)

+--------+------------+----------+---------+
|exchange|stock_symbol|      date|dividends|
+--------+------------+----------+---------+
|    NYSE|         JAH|12/30/2009|    0.075|
|    NYSE|         JAH| 9/29/2009|    0.075|
|    NYSE|         JGT|12/11/2009|    0.377|
|    NYSE|         JGT| 9/11/2009|    0.377|
|    NYSE|         JGT| 6/11/2009|    0.377|
|    NYSE|         JGT| 3/11/2009|    0.377|
|    NYSE|         JGT|12/11/2008|    0.377|
|    NYSE|         JGT| 9/11/2008|    0.451|
|    NYSE|         JGT| 6/11/2008|    0.451|
|    NYSE|         JGT| 3/12/2008|    0.451|
+--------+------------+----------+---------+
only showing top 10 rows

### List the companies which have the stock close price more than or equal to 200 and stock volume more than or equal to 10 million.

In [31]:
df_problem1=spark.sql("Select * from df_nyse_daily where close_price>200 and volume>=10000000")

In [32]:
df_problem1.show(10)

+--------+------------+----------+----------+----------+---------+-----------+--------+--------------------+
|exchange|stock_symbol|      date|open_price|high_price|low_price|close_price|  volume|adjusted_close_price|
+--------+------------+----------+----------+----------+---------+-----------+--------+--------------------+
|    NYSE|        JNPR| 11/3/2000|       198|    216.88|   196.25|     216.13|13424800|              216.13|
|    NYSE|        JNPR|10/19/2000|    229.13|    234.31|      220|     232.58|11323800|              232.58|
|    NYSE|        JNPR|10/18/2000|    219.38|       235|    212.5|     213.88|15463100|              213.88|
|    NYSE|        JNPR|10/17/2000|    241.75|    241.81|      224|     229.19|16734200|              229.19|
|    NYSE|        JNPR|10/16/2000|    226.75|     244.5|      224|        243|17288400|                 243|
|    NYSE|        JNPR|10/13/2000|    201.75|     229.5|   201.63|      228.5|19565000|               228.5|
|    NYSE|        JNPR|10/11/2000|     201.5|    219.44|   196.19|        206|16487000|                 206|
|    NYSE|        JNPR|10/10/2000|     196.5|       211|      196|     205.94|12586900|              205.94|
|    NYSE|        JNPR| 10/4/2000|    200.75|    211.63|    191.5|     207.95|11819100|              207.95|
|    NYSE|        JNPR| 10/3/2000|    212.63|       215|      198|     201.44|13457300|              201.44|
+--------+------------+----------+----------+----------+---------+-----------+--------+--------------------+
only showing top 10 rows

In [44]:
df_problem2=spark.sql("Select stock_symbol,count(dividends) from df_nyse_dividends group by stock_symbol having count(dividends)>50")
df_problem2.show(10)

+------------+----------------+
|stock_symbol|count(dividends)|
+------------+----------------+
|         JCP|             114|
|         JEF|              72|
|         JPM|             104|
|         JRO|              63|
|         JFP|              58|
|         JHI|              99|
|         JNJ|             160|
|         JHS|              88|
|         JTP|              91|
|         JOE|              51|
+------------+----------------+
only showing top 10 rows

In [40]:
df_problem3=spark.sql("Select a.stock_symbol,a.close_price,b.dividends,a.date from df_nyse_daily a,df_nyse_dividends b where a.stock_symbol=b.stock_symbol and a.date=b.date and b.dividends>0.01 and close_price>=100 order by dividends")

In [43]:
df_problem3.show(10)

+------------+-----------+---------+----------+
|stock_symbol|close_price|dividends|      date|
+------------+-----------+---------+----------+
|         JNJ|     101.62|  0.02625| 8/17/1987|
|         JNJ|     104.37|     0.05| 2/11/1992|
|         JCI|     109.55|    0.075|12/10/2003|
|         JCI|     107.34|     0.11| 9/12/2007|
|         JCI|     110.87|     0.11| 6/13/2007|
|         JNJ|     103.75|     0.14|11/12/1999|
|         JNJ|        101|     0.18| 5/18/2001|
|         JPM|     110.62|  0.20667|  1/2/1998|
|         JPM|     120.44|  0.20667| 10/2/1997|
|         JPM|     139.31|     0.24|  4/2/1998|
+------------+-----------+---------+----------+
only showing top 10 rows

In [45]:
dataframe_nyseDaily.write.csv("nyseDailyWhole.csv")

In [46]:
dataframe_nyseDividends.write.csv("nyseDividendsWhole.csv")

In [47]:
df_problem1.write.csv("df_problem1.csv")

In [48]:
df_problem2.write.csv("df_problem2.csv")
df_problem3.write.csv("df_problem3.csv")